@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    /* background-color: #758190; */
    background-color: whitesmoke;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: lightblue;
    padding: 0.05%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: stretch;
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

.stats-card {
    /* background-color: #a8b0bc; */
    background-color: rgba(212, 212, 212, 0.3);
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-height: 400px;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: left;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px lightblue;
}

#button-container {
    text-align: center;
}

button {
    background-color: lightblue;
    font-family: 'Cabin';
    font-weight: bold;
    border: none;
    padding: 1% 2.5%;
    margin: 1%;
    border-radius: 7px;
}

button:hover {
    scale: 1.1;
}

.text-center {
    text-align: center;
}

h2 {
    font-size: 35px;
}

#game-search-in {
    font-family: 'Cabin';
    font-weight: bold;
    border: none;
    padding: 1% 2.5%;
    margin: 1%;
    margin-right: 0%;
    border-radius: 7px;
    /* border-top-right-radius: 0;
    border-bottom-right-radius: 0; */
}

#search-btn {
    margin-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}